@{
    ViewBag.Title = "Acerca de";
}

<h2>Acerca de</h2>
<p>
     Incluya aquí el contenido.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Exploración</li>
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
</ul>