@{
    ViewBag.Title = "Contacto";
}

<h2>Contacto</h2>

<h3>Teléfono</h3>
<span>425.555.0100</span>

<h3>Correo electrónico</h3>
<span><a href="mailto:General@example.com">General@example.com</a></span>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Exploración</li>
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
</ul>